/* header css */

.leftsidemenuhoverbg{ position: absolute; left: 68px; top: 4px; display: none;}
.leftpannelspan{ display: block; position: relative;}

.menuleftblock {
      position: absolute; left: 77px; top: 0px; z-index: 99;  display: block; display: none;  width: 150px; text-align: left; border: solid 2px #fff;
}


.leftpannelspan:hover .leftsidemenuhoverbg{ display: block;}

.leftpannelspan:hover .menuleftblock{ display: block;}

.leftpannel .menuleftblock button{ margin: 0!important; padding: 0!important; height: auto!important; line-height: inherit!important; color: #fff; padding: 10px 15px!important; background: #33333b; text-align: left!important;}

.leftpannel .menuleftblock button:last-child{ border-bottom: none!important;}

.leftpannel .menuleftblock button:hover{ background: #1b73ca}

.techdashboard_header .logo_wrapper{ max-width: 200px; display: block; cursor: pointer; padding: 10px;}

.techdashboard_header .logo_wrapper:focus{ outline: none; border: none; }
.techdashboard_header .logo_wrapper img{ max-width: 100%; vertical-align: middle; }

.techdashboard_header{  height: auto;   padding: 0px; padding-right: 40px;  background: #1b73ca; box-shadow: 1px 1px 0px 0px #716f6f; position: relative;}

.techdashboard_header .quotation { margin-bottom: 0px;}

.techdashboard_header .quotation p{ font-family: "RobotoMedium"; font-size: 30px; color: #002035; text-transform: uppercase; margin: 0; }
.techdashboard_header .profile_section button{ padding-top: 3px; }

.techdashboard_header .profile_section {   margin-bottom: 0;  color:#fff;  position: absolute; right:40px; }

.techdashboard_header  .profile_section .username{ padding-right: 20px; display: inline-block; float: left; padding-top: 4px; }
.techdashboard_header   .quotation .mat-list-base{ display: flex; padding-top: 0;}


.techdashboard_header button{ font-size:16px; color: #fff; font-weight: normal;}

.techdashboard_header button:hover{ color: #c0d84b;}
 .activetop{ color: #c0d84b!important;}




.inner_wrapper{ width: 100%;     display: flex;
    justify-content: space-between;
    align-items: stretch;  }
.inner_wrapper .leftpannel{ width: 80px; background: #33333b; }
.inner_wrapper .leftpannel .mat-nav-list .mat-list-item{ border-top: 2px solid #65656d; color: #fff; }
.inner_wrapper .leftpannel .mat-nav-list .mat-list-item:nth-child(1){ border-top: 0px; }
.inner_wrapper .rightpannel{ width: 100%; box-sizing: border-box; position: relative;  }

.leftpannel  button{ display: block; text-align: center; padding: 15px 2px!important; border-bottom: solid 1px #716f6f; border-radius: 0px; margin: 0px!important; width: 100%;}

.leftpannel  button:hover{ background: #064785;}
.leftpannel   .active{ background: #064785;}





@media(max-width:1260px) {

    .techdashboard_header{ display: block;     padding-right: 0px; text-align: center;}

    .logo_wrapper{ float: none; margin-left: auto; margin-right: auto; width: 200px; max-width: inherit!important;}

    .quotation{display: block; margin-left: auto; margin-right: auto; border-top: solid 1px #4693e0; border-bottom: solid 1px #4693e0; text-align: center;}



    .techdashboard_header .profile_section {     position: inherit; right:0px; display: inline-block; margin-left: auto; margin-right: auto;}

}

@media(max-width:991px) {

    .quotation button{ display: block; margin: 0 auto; width: 100%; border-bottom: solid 1px #4693e0;}
    .quotation{ border-bottom: none;}
}