<mat-card class="ami_footer">
<img src="/assets/images/footer.jpg" alt="#" style="width: 100%;">


    <mat-card-content class="ami_footer1">


        <mat-card-content class="ami_footer1_wrapper">

           <span class="ami_footer1_menu">



                 <button mat-button routerLink="/home">Home</button>|
    <button mat-button routerLink="/ourphysicians">Our Physicians</button>|
    <button mat-button routerLink="/appointment">Appointments</button>|
    <button mat-button routerLink="/services">Services</button>|
    <button mat-button routerLink="/journals">Journals</button>|
    <button mat-button routerLink="/imagegallery">Image Gallery</button>|
    <button mat-button routerLink="/videogallery">Video Gallery</button>|
    <button mat-button routerLink="/testimonial">Testimonial</button>|
    <button mat-button routerLink="/contactus">Contact Us</button>



               <span class="clear"></span>
           </span>

            <span class="ami_footer1_menu_right">

                <span>Copyright © -2019 GRACE MEDICAL</span>

                  <img src=" /assets/images/footer2.jpg" alt="#">
                 <span class="clear"></span>
            </span>

            <span class="clear"></span>



        </mat-card-content>


    </mat-card-content>


</mat-card>
