<mat-card class="ami_top1">
    <mat-card-content class="ami_top1_wrapper">
        <span class="ami_top_logo" routerLink="/home"><img src="/assets/images/logo.png" alt="#"></span>

        <span class="ami_top_menu">

                   <span class="ami_top_search">

           <!-- <form >-->
            <input matInput placeholder="Search"  >
          <button mat-button><i class="material-icons">search</i></button>
                       <!-- </form>-->

        </span>
<button mat-button [matMenuTriggerFor]="menu" class="amitoplogin">Login</button>
<mat-menu #menu="matMenu" >
  <button mat-menu-item class="amitoploginmenu" routerLink="/login">Admin Login</button>
  <button mat-menu-item class="amitoploginmenu">Doctor Login</button>
<button mat-menu-item class="amitoploginmenu">Patient Login</button>

</mat-menu>


         </span>





        <span class="clear"></span>
    </mat-card-content>

</mat-card>

<mat-card class="ami_top2">


    <button mat-button routerLink="/home" >Home</button>
    <button mat-button routerLink="/ourphysicians">Our Physicians</button>
    <button mat-button routerLink="/appointment">Appointments</button>
    <button mat-button routerLink="/services">Services</button>
    <button mat-button routerLink="/journals">Journals</button>
    <button mat-button routerLink="/imagegallery">Image Gallery</button>
    <button mat-button routerLink="/videogallery">Video Gallery</button>
    <button mat-button routerLink="/testimonial">Testimonial</button>
    <button mat-button routerLink="/contactus">Contact Us</button>
</mat-card>


<img src="/assets/images/share_this_all.png" alt="#" class="share_this_all">